*cache*
*desktop*
*~
.DS_Store
.cache/
auto-save-list
bookmarks
custom.el
elpa-*
elpa/
elpy
emojis
.lsp*
org-journal.cache
package-selected-packages.el
projectile-bookmarks.eld
recentf
straight/
transient/
url